/* body */

html,
body {
    margin: 0;

    font-family: JetBrains Mono;
}

/* headline */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* buttons */
.b1 {
    display: inline-block;

    height: 36px;
    padding: 10px 16px;
    box-sizing: border-box;
    border: 1px solid hotpink;
    border-radius: 4px;
    outline: none;

    text-decoration: none;
    font-size: 14px;
    line-height: 16px;

    color: white;
    background-color: hotpink;

    transition: box-shadow 0.2s, border 0.2s, background-color 0.2s, color 0.2s;
}

.b1:hover {
    box-shadow: 0 2px 4px silver;

    text-decoration: none;

    color: white;
}

.b1:active {
    border: 1px solid lightpink;
    box-shadow: 0 4px 8px silver;

    text-decoration: none;

    color: white;
    background-color: lightpink;
}

.b2 {
    display: inline-block;

    height: 36px;
    padding: 10px 16px;
    box-sizing: border-box;
    border: 1px solid hotpink;
    border-radius: 4px;
    outline: none;

    text-decoration: none;
    font-size: 14px;
    line-height: 16px;

    color: hotpink;
    background-color: white;

    transition: box-shadow 0.2s, border 0.2s, background-color 0.2s, color 0.2s;
}

.b2:hover {
    text-decoration: none;

    color: hotpink;
    background-color: pink;
}

.b2:active {
    text-decoration: none;

    color: white;
    background-color: hotpink;
}

.b3 {
    display: inline-block;

    height: 36px;
    padding: 10px 16px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;

    text-decoration: none;
    font-size: 14px;
    line-height: 16px;

    color: hotpink;
    background-color: white;

    transition: box-shadow 0.2s, border 0.2s, background-color 0.2s, color 0.2s;
}

.b3:hover {
    border: 1px solid #CDE1FA;

    text-decoration: none;

    color: blue;
    background-color: #CDE1FA;
}

.b3:active {
    border: 1px solid hotpink;

    text-decoration: none;

    color: white;
    background-color: hotpink;
}

/* header */

.header {
    position: fixed;

    top: 0;
    padding: 0;
    height: 64px;
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 4px lightgray;

    background-color: #fff
}

.header-title {
    float: left;

    height: 40px;
    margin: 12px;
}

.header-title-logo {
    display: inline-block;

    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: auto 0;
}

.header-title-text {
    display: inline-block;

    vertical-align: middle;
    font-size: 22px;
    line-height: 40px;
}

.header-buttonlist {
    float: right;

    margin: 14px;
}

/* main */
.main {
    max-width: 600px;
    margin: 72px auto;
    padding: 20px;
}

/* footer */
.footer {
    margin-top: 10px;
    height: auto;
    width: 100%;

    color: gray;
    background-color: whitesmoke;
}

.footer-linklist {
    margin: 0 20px;

    text-align: left;
}

.footer-linklist a {
    display: inline-block;

    margin: 0 10px 0 0;
    padding: 0 2px;

    line-height: 40px;
    text-decoration: none;

    color: gray;
}

.footer-linklist a:hover {
    text-decoration: underline;
}

.footer-other {
    margin: 0 20px;
    line-height: 40px;

    color: gray;
}

/* font-face */
@font-face {
    font-family: JetBrains Mono;
    src: local(JetBrains Mono), url(https://xieli1314.github.io/static/fonts/JetBrainsMono.ttf);
}